* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: #333 url(../src/images/splash.jpg) no-repeat center center fixed;
    background-size: cover;
    font-size: 13px;
    width: 100%;
    height: 100vh;
    font-family: 'Helvetica', 'Arial', sans-serif;
    box-sizing: border-box;
    color: white;
}

.container {
    position: sticky;
    padding: 0 1em;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

header {
    position: fixed;
    flex: none;
    color: white;
    height: 60px;
    width: 100%;
    background: rgba(255,255,255,.06);
    z-index: 10;
}

header a {
    color: rgba(255,255,255,.7);
    text-decoration: none;
    outline: none;
}

header a:hover {
    color: white;
}

.head-logo {
    display: inline-block;
}

.head-logo h1 {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 60px;
}

.head-nav {
    position: absolute;
    margin: 0 .25em 0 0;
    padding: 0;
    top: 0;
    right: 0;
    height: 100%;
    line-height: 60px;
}

.head-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.head-nav li {
    display: inline;
    margin: 0 .75em;
}

.head-nav a {
    font-size: 1.5em;
}

#target {
    flex: 1;
    margin-top: 80px;
}

.gallery-list {
    position: sticky;
    max-width: 900px;
    margin: 0 auto;
}

.gallery-link {
    position: relative;
    height: 268px;
    max-width: 268px;
    box-sizing: border-box;
}

.gallery-link > a {
    display: block;
    width: 100%;
    height: 100%;
    background: #efefef;
    text-decoration: none;
    color: white;
}

.gallery-link > a:hover {
    background: #e9e9e9;
}

.gallery-link-title {
    position: absolute;
    bottom: 1em;
    width: calc(100% - 2em);
    text-align: center;
}

.gallery-link-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.photo-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.85);
    z-index: 999;
}

.photo-modal img {
    max-width: 75%;
    max-height: 80%;
    margin: auto;
    opacity: 0;
    transition: opacity .5s ease;
    box-shadow: 0 0 2em .5em black;
}